[Unit]
Description=Service de l'application principale
After=network.target

[Service]
User=root
WorkingDirectory=/home/amaurice/Bureau/inviseo/InviseoBox/
ExecStart=/home/amaurice/Bureau/inviseo/InviseoBox/venv/bin/python /home/amaurice/Bureau/inviseo/InviseoBox/main.py

[Install]
WantedBy=multi-user.target
